# Postgres
POSTGRES_DB=grit
POSTGRES_USER=grit-admin
POSTGRES_PASSWORD=<db password>
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<minio password>
MINIO_SERVICE_PORT=9001
MINIO_CONSOLE_PORT=9000

# Neo4j
NEO4J_DATABASE=neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=gS64fQQyJjdQ
NEO4J_CONSOLE_PORT=7474
NEO4J_BOLT_PORT=7687

# Redis
REDIS_PORT=6379

# Authentik
AUTHENTIK_DB=authentik
AUTHENTIK_SECRET_KEY=<geneated with openssl rand -base64 60 | tr -d '\n'>
COMPOSE_PORT_HTTP=9400
COMPOSE_PORT_HTTPS=9443%

# Prefect
PERFECT_DB=prefect
PERFECT_UI_API_PORT=4200
PERFECT_UI_API_PORT=4200
PREFECT_SERVER_API_AUTH_STRING="<username>:<password>"