# Postgres
POSTGRES_DB=grit
POSTGRES_USER=grit-admin
POSTGRES_PASSWORD=<db password>
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<minio password>
MINIO_SERVICE_PORT=9001
MINIO_CONSOLE_PORT=9000

# Neo4j
NEO4J_DATABASE=neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=gS64fQQyJjdQ

# Redis
REDIS_PORT=6379

# Authentik
AUTHENTIK_DB=authentik
AUTHENTIK_SECRET_KEY=3z5xQw1liK6c7ojLOmBHkSIG4o3hImLyOX4XTrGmmabTutYmAYGY7GHPTyOpHSYKn5PreBy8E7QGABu1
COMPOSE_PORT_HTTP=9400
COMPOSE_PORT_HTTPS=9443%