# Postgres
POSTGRES_DB=grit
POSTGRES_USER=grit-admin
POSTGRES_PASSWORD=password123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Neo4j
NEO4J_DATABASE=neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=password123

# Redis
REDIS_PORT=6379

# SFTP
SFTP_USER=grituser
SFTP_PASS=gritpass

# Email
MAIL_DOMAIN=example.com

# Airflow
# Generate a key using: openssl rand -base64 32
AIRFLOW_FERNET_KEY=46ls_Example_Key_Replace_Me_8df=
AIRFLOW_UID=50000
